::selection {
	background: rgba(0, 0, 0, 0.1);
}

* {
  transition: all 0.3s ease;
}

/*any part of the body content that needs side margins*/
.content {
  margin: 0 15%;
}

/*get rid of underline where it may popup*/
a {
  text-decoration: none;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  /* starting color: red */
  background: #FF5959;
  /*including fall-back Google Font/s*/
  font-family: "Proxima Nova Soft", "Varela Round", sans-serif;
  /*declare the below animation*/
  -webkit-animation: colourchange 45s infinite;
  /*!! hide the edges of bleeding-images (changes later)*/
  overflow: hidden;
}

/*the animation called within body*/
@-webkit-keyframes colourchange {
  15% {background: #FF5959;} /* red: end */

  25% {background: #DD5ED7;} /* purple: start */
  35% {background: #DD5ED7;} /* purple: end */

  45% {background: #308CF8;} /* blue: start */
  55% {background: #308CF8;} /* blue: end */

  60% {background: #4CD764;} /* green: start */
  75% {background: #4CD764;} /* green: end */

  85% {background: #FFB028;} /* yellow: start*/
  90% {background: #FFB028;} /* yellow: end */

  100% {background: #FF5959;} /* red: start */
}

img[src="baby-ears-logo.svg"] {
  margin: 5em 0;
}

img[src="preview.png"] {
  margin: 0 auto;
  width: 100%;
  display: none;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*clear out all margins*/
h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  margin-bottom: 0.25em;
}

h2, h3 {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

h2 {
  margin-bottom: 3em;
  line-height: 1.25em;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*the device images shown on large displays*/
.device {
  /*tied in with the overflow:hidden on body*/
  position: absolute;
  /*don't allow the user to drag around the images*/
  pointer-events: none;
}

/*the main device shown next to copy*/
img[src="device-hero.png"] {
  /*transform*/
  width: 290px;
  transform: rotate(-8deg);
  /*position*/
  top: 8.5%;
  left: 54%;
  z-index: 1;
}

/*the video overlay (similar styling to img[src="device-hero.png"] underneath)*/
video {
  width: 290px;
  /*transform to match, bit of guess-work*/
  transform: rotate(-8deg) scale(0.815);
  /*position to match, bit of guess-work*/
  top: 12.3%;
  left: 54%;
  z-index: 1;
}

img[src="device-left.png"] {
  width: 280px;
  transform: rotate(12deg);

  bottom: -48%;
  left: -7%;
  z-index: 1;
}

img[src="device-right.png"] {
  width: 280px;
  transform: rotate(-24deg);

  top: -24%;
  right: -16%;
  z-index: 1;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*both store link buttons*/
img[src$="-store.svg"] {
  margin-right: 1em;
  transition: all 0.3s ease;
}
  img[src$="-store.svg"]:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
  }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  /*when hovering (indicate link)*/
  transition: background-color 0.25s ease;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 2em 0;
  text-align: center;

  /*sticky footer settings (changes on smaller layouts)*/
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
footer:hover {
  background-color: rgba(0, 0, 0, 0.32);
}


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*media queries*/

@media screen and (max-width: 1000px) {
  img[src="device-hero.png"] {
    left: 60%;
  }
  video {
    left: 59.9%;
  }
  img[src="device-right.png"] {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  img[src="device-hero.png"] {
    left: 65%;
  }
  video {
    left: 64.9%;
  }
  img[src="device-left.png"] {
    display: none;
  }
}
@media screen and (max-height: 695px) {
  img[src="device-hero.png"] {
    top: -5%;
    left: 60%;
  }
  video {
    top: -0.79%;
    left: 59.9%;
  }
  img[src="device-right.png"] {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  img[src="device-hero.png"] {
    top: -5%;
    left: 80%;
  }
  video {
    top: 0%;
    left: 80%;
  }
  img[src="device-left.png"] {
    display: none;
  }
}


/* mobile sizes, weird desktop sizes*/
@media screen and (orientation: portrait), screen and (max-height: 520px), screen and (max-width: 768px) {
  .device {
    display: none;
  }

  img[src="preview.png"] {
    display: inline;
  }

  body {
    overflow: visible;
  }

  img[src="baby-ears-logo.svg"] {
    max-width: 60%;
    margin: 2em 0 1.2em 0;
  }

  .content {
    margin: 0 11%;
    text-align: center;
  }

  img[src$="-store.svg"] {
    min-width: 12em;
    max-width: 90%;
    margin: 0 0.5em 1.5em;
  }

  footer {
    position: static;
    padding: 3em 0;
    margin-top: 3em;
  }

  h1 {
    margin-top: 0.75em;
  }

  h2, h3 {
    font-size: 1em;
  }
}

@media screen and (orientation: landscape) {
  img[src="preview.png"] {
    display: none;
  }
}

video {
  /*transform: scale(1, 0.79);*/
  /*max-width: 100px;*/
}
