::selection {
	background: rgba(0, 0, 0, 0.1);
}

* {
  transition: all 0.3s ease;
}

/*any part of the body content that needs side margins*/
.content {
  margin: 0 15%;
}

/*get rid of underline where it may popup*/
a {
  text-decoration: none;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  /* starting color: red */
  background: #FF5959;
  /*including fall-back Google Font/s*/
  font-family: "Proxima Nova Soft", "Varela Round", sans-serif;
  /*declare the below animation*/
  -webkit-animation: colourchange 45s infinite;
  /*!! hide the edges of bleeding-images (changes later)*/
  overflow: hidden;
}

/*the animation called within body*/
@-webkit-keyframes colourchange {
  15% {background: #FF5959;} /* red: end */

  25% {background: #DD5ED7;} /* purple: start */
  35% {background: #DD5ED7;} /* purple: end */

  45% {background: #308CF8;} /* blue: start */
  55% {background: #308CF8;} /* blue: end */

  60% {background: #4CD764;} /* green: start */
  75% {background: #4CD764;} /* green: end */

  85% {background: #FFB028;} /* yellow: start*/
  90% {background: #FFB028;} /* yellow: end */

  100% {background: #FF5959;} /* red: start */
}

img[src="baby-ears-logo.svg"] {
  margin: 5em 0;
}

img[src="preview.png"] {
  margin: 0 auto;
  width: 100%;
  display: none;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*clear out all margins*/
h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  margin-bottom: 0.25em;
}

h2, h3 {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

h2 {
  margin-bottom: 3em;
  line-height: 1.25em;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*the device images shown on large displays*/
.device {
  /*tied in with the overflow:hidden on body*/
  position: absolute;
  /*don't allow the user to drag around the images*/
  pointer-events: none;
}

/*the main device shown next to copy*/
img[src="device-hero.png"] {
  /*transform*/
  width: 290px;
  transform: rotate(-8deg);
  /*position*/
  top: 8.5%;
  left: 54%;
  z-index: 1;
}

/*the video overlay (similar styling to img[src="device-hero.png"] underneath)*/
video {
  width: 290px;
  /*transform to match, bit of guess-work*/
  transform: rotate(-8deg) scale(0.815);
  /*position to match, bit of guess-work*/
  top: 12.3%;
  left: 54%;
  z-index: 1;
}

img[src="device-left.png"] {
  width: 261px;
  z-index: 1;

  left: 0;
  bottom: 0;
}

img[src="device-right.png"] {
  width: 190px;
  z-index: 1;

  right: 0;
  top: 0;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*both store link buttons*/
img[src$="-store.svg"] {
  margin-right: 1em;
  transition: all 0.3s ease;
}
  img[src$="-store.svg"]:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
  }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  /*when hovering (indicate link)*/
  transition: background-color 0.25s ease;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 2em 0;
  text-align: center;

  /*sticky footer settings (changes on smaller layouts)*/
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
footer:hover {
  background-color: rgba(0, 0, 0, 0.32);
}
