::selection {
	background: rgba(0, 0, 0, 0.1);
}

* {
  transition: all 0.3s ease;
}

#content {
  margin: 0 15%;
}

#preview {
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  /* starting color: red */
  background: #FF5959;
  font-family: "Proxima Nova Soft", "Varela Round", sans-serif;
  -webkit-animation: colourchange 45s infinite;
  overflow: hidden;
}

@-webkit-keyframes colourchange {
  15% {background: #FF5959;} /* red: end */

  25% {background: #DD5ED7;} /* purple: start */
  35% {background: #DD5ED7;} /* purple: end */

  45% {background: #308CF8;} /* blue: start */
  55% {background: #308CF8;} /* blue: end */

  60% {background: #4CD764;} /* green: start */
  75% {background: #4CD764;} /* green: end */

  85% {background: #FFB028;} /* yellow: start*/
  90% {background: #FFB028;} /* yellow: end */

  100% {background: #FF5959;} /* red: start */
}

#logo {
  /*margin-bottom: 10%;*/
  margin: 5em 0;
}

#preview {
  display: none;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  margin-bottom: 0.25em;
}

h2, h3 {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

h2 {
  margin-bottom: 3em;
  line-height: 1.25em;
  /*max-width: 14em;*/
}

.device {
  position: absolute;
  pointer-events: none;
}

#heroDevice {
  width: 290px;
  transform: rotate(-8deg);

  top: 8.5%;
  /*right: 24%;*/
  left: 54%;
  z-index: 1;
}

video {
  transform: scale(1, 0.79);
  width: 100px;
}

#leftDevice {
  width: 280px;
  transform: rotate(12deg);

  bottom: -48%;
  left: -7%;
  z-index: 1;
}

#rightDevice {
  width: 280px;
  transform: rotate(-24deg);

  top: -24%;
  right: -16%;
  z-index: 1;
}

.store {
  margin-right: 1em;
  transition: all 0.3s ease;
}
  .store:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
  }

footer {
  transition: background-color 0.25s ease;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 2em 0;
  text-align: center;

  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

footer:hover {
  background-color: rgba(0, 0, 0, 0.32);
}



/*media queries*/
@media screen and (max-width: 1000px) {
  #heroDevice {
    left: 60%;
  }
  #rightDevice {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #heroDevice {
    left: 65%;
  }

  #leftDevice {
    display: none;
  }
}
@media screen and (max-height: 695px) {
  #heroDevice {
    top: -5%;
    left: 60%;
  }
  #rightDevice {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  #heroDevice {
    top: -5%;
    left: 80%;
  }

  #leftDevice {
    display: none;
  }
}


/* mobile sizes, weird desktop sizes*/
@media screen and (orientation: portrait), screen and (max-height: 520px), screen and (max-width: 768px) {
  .device {
    display: none;
  }

  #preview {
    display: inline;
  }

  body {
    overflow: visible;
  }

  #logo {
    max-width: 60%;
    margin: 2em 0 1.2em 0;
  }

  #content {
    margin: 0 11%;
    text-align: center;
  }

  .store {
    min-width: 12em;
    max-width: 90%;
    margin: 0 auto 1em;
  }

  footer {
    position: static;
    padding: 3em 0;
    margin-top: 3em;
  }

  h1 {
    margin-top: 0.75em;
  }

  h2, h3 {
    font-size: 1em;
  }
}

@media screen and (orientation: landscape) {
  #preview {
    display: none;
  }
}
